.boardContainer {
    width: 100%;
    padding: .4rem;
}

.board {
    --box-grid-gap: .2rem;

    display: grid;
    grid-template-columns: repeat(3, calc(((100 / 3) * 1%) - var(--box-grid-gap)));
    grid-gap: var(--box-grid-gap);

    padding: .4rem;
    margin: 0 auto;
    background-color: #C1C1C1;
    border-radius: .4rem;
}