.timerContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    padding: .4rem;
    font-size: medium;
}
.currentPlayerDisplay {
    /* Center the current player */
    display: flex;
    align-items: center;
    justify-content: center;

    /* Position */
    position: relative;
    left: 1.2rem;

    border-radius: 2.4rem 0 0 1.2rem;
    padding: .4rem 1.2rem;
    width: 2.4rem;
    color: white;
    font-weight: bolder;
    border: 2px solid white;
}
.timerDisplay {
    min-width: 6.4rem;
    text-align: center;
    background-color: white;
    padding: .4rem 1.2rem;
    border: 2px solid white;
    border-radius: 1.6rem 1.2rem 2.4rem 1.2rem;
}